extends /couples_layout
include /helper

block title
  title Paartherapie - Andreas Niehues
  if (config.get('canonical'))
    link(rel="canonical" href=COUPLES_HOST)

block content
  .area
    include:markdown-it landing-page/couple_intro.md

  +teaser-list(['family', 'single', 'corporations'])

block after_shared_content
  .area
    include:markdown-it landing-page/pricing.md

block scripts
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  if (config.get('canonical'))
    script.
      ga('create', 'UA-82114451-3', 'auto');
  else
    script.
      ga('create', 'UA-82114451-1', 'auto');

  script.
    ga('send', 'pageview');


block seo
  +meta_keywords('Paartherapie', 'Paartherapeut', 'Paarberatung', 'Paarberater', 'Paarcoaching', 'Coaching', 'Systemisch', 'Systemisch-integrativ', 'systemische', 'Paar', 'Paare', 'Essen', 'Ruhrgebiet', 'Mülheim', 'Oberhausen', 'Duisburg', 'Familienaufstellungen', 'Familienaufstellung', 'Hellinger', 'Aufstellung ', 'Aufstellungen', 'Gladbeck', 'Bocholt', 'Andreas', 'Andre', 'Andrea', 'Niehues', 'Niehus', 'Niehuis', 'Niehaus', 'Schwul', 'Homosexuell', 'Lesbisch', 'Affaire', 'Fremdgehen', 'Fremdgegangen', 'Betrogen', 'Monogamie', 'Poligamie', 'Poliamor', 'Liebe', 'Feundschaft', 'Streit', 'Trennung', 'Scheidung', 'Sex', 'Geschlechtsverkehr', 'Erektion', 'Kinder', 'Patchworkfamilie', 'Macht', 'Nähe', 'Bindung', 'Bindugsstörung', 'Bindungsgestört', 'Krebs', 'Chronisch krank', 'Behinderung', 'Erotik', 'Fetisch', 'Prostitution', 'Prostituierte', 'Nutte', 'Hure', 'Drogen', 'Alkohol', 'HIV', 'Aids', 'Haushalt', 'Haushaltsführung', 'Geld', 'Geliebte', 'Geliebter', 'Geliebten')
  +meta_description('Sich gemeinsam als Paar weiterentwickeln und Wege aus der Beziehungskrise finden. Sexualität kann auch ein Thema in der Paartherapie sein.')
