extends /couples_layout
include /helper

//- block head

block content
  .area
    include:markdown-it landing-page/couple_intro.md

  +teaser-list(['family', 'single', 'corporations'])

block after_shared_content
  .area
    include:markdown-it landing-page/pricing.md
